/*Headings*/
header{
    height: 16.5vh;
    font-size: 1.4vw;
    background-image: linear-gradient(to top,rgb(48, 48, 48), rgb(153, 153, 153));
    text-align: center;
    position: relative;
    bottom: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
}
header p{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
header ul{
    list-style-type: none;
}
header li{
    float: left;
    margin-left: 1.5%;
    padding-left: 0%;
    position: relative;
    left: -30px;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(10px + 1vw);
}
header li:hover{
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    padding: 3px;
    font-weight: bold;
}
header li a{
    text-decoration: none;
    color: antiquewhite;
}
header img{
    width: 10%;
    position: relative;
    right: 45%;
    margin: 0%;
}
/* Headings*/

/*Body*/
body{
    overflow-x: hidden;
}
div h2{
    position: relative;
    left:10%;
    font-size: calc(10px + 1vw);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div{
    display: block;
    border-radius: 5px;
    padding: 1%;
}
div:hover{
    background-color: rgb(172, 172, 172);
    transition-duration: 1s;
}
div li{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;    
    font-size: calc(5px + 1vw);
}